<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">Title</h2> -->
                </div>
            </div>
            <div class="row container">
                <h2>Dates of the events: 21 - 23 September 2022</h2>
                <h3>Location: National University of Singapore, Singapore</h3>
                <p>
                    <br>
                    The three-day meeting (21 September - 23 September) provides a platform for experts within the field to plan, coordinate, and collaborate on exploring the issues relating to the IEA EBC Annex-79 “Occupant-centric building design and operation”.
                    The Occupant Behavior Research (21 September) is centered around the design and operation of buildings with an occupant focus, and the underlying comfort, behavior, and energy considerations. The symposium aims to stimulate discussions and debate and to encourage contributions to Annex-79. Presenters from broad backgrounds (engineering, architecture, psychology, sociology, marketing, etc.; researchers or practitioners) are encouraged to attend and/or present. All symposium attendees are welcome to attend the Annex meeting as well.
                    <br><br>
                    The events will take place in person at the National University of Singapore with the option of online participation. Registered participants will also receive the link for joining the online meetings.
                    <br><br>
                    Please note that the programme is given in Singapore Time (SGT). 
                </p>

            </div>
        </div>
    </section>
