<!-- About Section -->
<section id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programme</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for about_data in site.data.twenty_17.home_about_data %}
                            
                            <li class="{{ about_data.inverted }}">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="../css/2016_style/img/{{ about_data.img }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ about_data.name }}</h4>
                                    </div>
                                    <div class="timeline-heading">
                                        <p class="text-muted">{{ about_data.info }}</p>
                                    </div>
                                    {% if about_data.name == "Agenda" %}
                                        <a href="/files/Annex 79 - Programme details.pdf" class="page-scroll btn btn-sm">Agenda details</a>
                                    {% endif %}
                                    {% if about_data.name == "Guide and instructions to join the meeting virtually" %}
                                        <a href="/files/Annex 79 - Guide and Instructions for online participants.pdf" class="page-scroll btn btn-sm">Online instructions</a>
                                    {% endif %}
                                    {% if about_data.name == "Venue" %}
                                        <a href="/files/Annex 79 - Travel Advice and getting to venue.pdf" class="page-scroll btn btn-sm">Travel advice and getting to venue</a>
                                    {% endif %}
                                </div>
                            </li>
                            
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>