<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OB-22 Symposium</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row container">
            <h2>Call for Abstracts</h2>
            <p>
                Following the tradition of IEA Annex 79, we invite you to submit and present an original research for OB-22 Symposium. The abstract should be no more than 300-words. All submissions will be reviewed, evaluated and selected by the scientific committee. Only oral presentations will occur, not papers.
                <br>
                Topics to focus on, but are not limited to:
                <ul>
                    <li>Developing new scientific knowledge about adaptive occupant actions driven by multiple interdependent indoor environmental parameters,</li>
                    <li>understanding interactions between occupants and building systems, e.g. how interfaces en-/discourage occupants taking advantage of adaptive opportunities for improving their comfort situation, as well as the impact on building energy use,</li>
                    <li>deploying 'big data' (e.g. data mining and machine learning) for the building sector based on various sources of building and occupant data as well as sensing technologies,</li>
                    <li>developing methods and guidelines and preparing standards for integrating occupant models in building design and operation, and</li>
                    <li>performing focused case studies to test the new methods and models in different design and operation phases in order to obtain valuable feedback for the researchers, practitioners, and policy makers.</li>
                 </ul>
                
                 <br>
                <h3>Important Dates</h3>                
                Abstracts Deadline: 15 August, 2022
                <br>
                Acceptance Notification: 22 August, 2022

                <br>
                <br>
                Non-presenters are also encouraged to participate in the symposium.
            </p>
        </div>
        <div class="button-abstract-div text-center">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdneLsCtHsCbKy4JaTZxjJhnYj-iVaMUdbexI3FsJUy-qnIUw/viewform" class="page-scroll btn btn-xl">Submit your abstract</a>
        </div>
    </div>
</section>