<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><h3>OB22 Symposium <br><small style="color:rgb(210, 210, 210);">21 September 2022</small><br>Annex 79 Meeting<br><small style="color:rgb(210, 210, 210);">22-23 September 2022</small></h3></div>
                <div class="intro-lead-in"> </div>
                <div class="intro-lead-in"> </div>
                <a href="https://www.eventbrite.com/e/9th-expert-meeting-of-iea-annex-79-singapore-tickets-315032188757" class="page-scroll btn btn-xl">Click here to join online</a>
                <!-- <a href="" class="page-scroll btn btn-xl">Register here<br>(Regsitration is paused due to administrative issues)</a> -->
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/programme.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
