<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">9th Expert Meeting of Annex 79 & OB-22 Symposium<br></div>
                <div class="intro-lead-in"> </div>
                <div class="intro-lead-in"> </div>
                <!-- <a href="https://www.eventbrite.com/e/9th-expert-meeting-of-iea-annex-79-singapore-tickets-315032188757" class="page-scroll btn btn-xl">Register</a> -->
                <a href="" class="page-scroll btn btn-xl">Register<br>(Coming soon!)</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/programme.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
